body{
  margin: 0;
  background-color: #44ACCE;
}

header {
  background-color: #3A92AF;
  color: #fff;
  height:50px;
}

.trello{
  width:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leftElements{
  float: left;
}

#btn {
  background-color: #2F7890;
  color: #dcecf2;
  padding: 15px;
  margin: 20px;
  border: none;
}

#contiene{
  background-color: #44ACCE;
}

ul{
  top: 5px;
}
li{
  display: inline-block;
  float:right;
  list-style: none;
  margin-right:15px;
  top: -50px;

}
