body{
  margin: 0;
  background-color: #44ACCE;
}

header {
  background-color: #3A92AF;
  color: #fff;
  height:50px;
}

.leftElements{
  background-color:#89BECF;
  color: white;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-size:20px;
  display: inline-flex;

}

.search{
  width: 100px;
}

.trello {
  width: 100px;
  display:block;
  margin:auto;
}

.contenedor{
  display: flex;
}

.caja1{
  background-color: #fff;
  margin:50px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  opacity: 0.7;
  padding-left: 20px;
}

#comentario{
  padding: 10px;
  display: block;
  border: none;
}

#boton{
	background-color: #58FAAC;
	padding: 5px 6px;
	display: block;
}

#caja2 div {
  background-color: #fff;
  margin:50px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  opacity: 0.7;
  padding-left: 20px;

}
